html {
  font-size: 100%;
}

body {
  color: #7c7c7c;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  color: #7c7c7c;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

img {
  width: 100%;
}

h1 {
  width: 140px;
  height: auto;

  img {
    height: 80px;
    width: auto;
  }
}
li {
  list-style: none;
}

.inner {
  max-width: 1200px;
  padding: 0 120px;
}

.flex {
  display: flex;
}

.title {
  text-align: center;
  margin-bottom: 32px;
}

.section-title {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 4px;
}
.subtitle {
  font-weight: 300;
  position: relative;
  display: inline;
  padding-top: 1px;
  font-size: 14px;

  &::before,
  &::after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: #a8a8a8;
    position: absolute;
    top: 50%;
  }

  &::before {
    left: -64px;
  }

  &::after {
    right: -64px;
  }
}

section {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 80px;
}

.btn {
  position: absolute;
  bottom: -20px;
  right: 0;
  // transform: translateY(100%);
  text-align: center;
  width: 100px;
  height: 30px;
  border: solid 1px #7c7c7c;
  transition: 0.3s;

  &:hover {
    background-color: #7c7c7c;
    a {
      color: #fff;

      &::before,
      &::after {
        background-color: #fff;
      }
    }
  }
  &::after {
    content: "";
    border: solid 1px #7c7c7c;
    border-top-color: transparent;
    border-left-color: transparent;
    height: 96%;
    width: 96%;
    display: block;
    position: absolute;
    bottom: -4px;
    right: -4px;
  }

  a {
    font-size: 16px;
    line-height: 28px;
    position: relative;
    color: #7c7c7c;
    transition: 0.3s;

    &::before {
      content: "";
      display: block;
      width: 18px;
      height: 2px;
      background-color: #7c7c7c;
      position: absolute;
      top: 50%;
      right: -20px;
      transition: 0.3s;
    }
    &::after {
      content: "";
      display: block;
      width: 5px;
      height: 2px;
      background-color: #7c7c7c;
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-100%) rotate(45deg);
      transition: 0.3s;
    }
  }
}

header {
  height: 80px;
  position: relative;

  .flex {
    justify-content: space-between;
    align-items: center;
  }

  li {
    margin-right: 53px;

    &:last-child {
      margin-right: 0;
    }
  }
  .search {
    img {
      width: 28px;
    }

    &:hover {
      .search-form {
        display: block;
      }
    }
  }
  .cart {
    img {
      width: 33px;
      height: auto;
    }
  }
}

.hamburger {
  span {
    width: 40px;
    height: 2px;
    display: block;
    background-color: #7c7c7c;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
// main {
//   padding-top: 80px;
// }

.search-form {
  width: 500px;
  // height: 200px;
  background-color: #fff;
  border: solid 1px #7c7c7c;
  display: none;
  position: absolute;
  bottom: -200px;
  right: 120px;
  margin: 0 auto;

  .search-menu {
    text-align: center;
    padding: 80px 0 20px 0;
    li {
      margin-bottom: 10px;

      // a {
      //   color: #7c7c7c;

      //   // &:hover {
      //   //   opacity: 0.8;
      //   // }
      // }
    }
  }
}

#form2 {
  position: relative;
  max-width: 300px;
  // height: 100px;
  margin: 20px auto;
}
#sbox2 {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
  outline: 0;
  background: #eee;
  border: none;
}
#sbtn2 {
  height: 40px;
  // width: 100%;
  position: absolute;
  right: 0; /*アイコン左右の位置調整*/
  top: 0;
  background: none;

  color: rgb(167, 167, 167);
  border: none;
  font-size: 20px; /*アイコンサイズ*/
}
#sbtn5:hover {
  color: #7fbfff;
}

.search-open {
  .search-form {
    display: block;
  }
}

.slick-prev {
  left: 10px;
  z-index: 10;
}
.slick-next {
  right: 10px;
}

.category {
  margin-top: 80px;

  .flex {
    flex-flow: nowrap;
    gap: 24px;
  }
}

.campaign {
  .flex {
    justify-content: space-between;

    li {
      width: 49%;
    }
  }
}

.instagram {
  padding: 36px 0 56px 0;
  background-color: #f6f6f6;
  .flex {
    justify-content: space-between;
    flex-flow: nowrap;
  }
}

.coordinate {
  .flex {
    justify-content: space-between;
    li {
      width: 32%;
    }
  }
}

footer {
  background: #cfcfcf;
  padding: 74px 110px 10px 110px;

  .flex {
    justify-content: space-between;
    font-size: 0.85em;

    ul {
      width: 20%;
      line-height: 1.8;

      &:last-child {
        width: 34%;
      }

      li {
        &:first-child {
          font-size: 1.2em;
          font-weight: 700;
          margin-bottom: 20px;
        }
      }
    }
  }

  .box {
    width: 70%;
    height: 20px;
    border: none;
  }

  .Form-Btn {
    width: 20%;
    transition: 0.3s;
    font-size: 0.85em;
    background-color: #fff;
    border: none;
    height: 20px;

    &:hover {
      background-color: #a8a8a8;
    }
  }
  .copyright {
    text-align: center;
    margin-top: 70px;
    font-size: 0.8em;
  }
}
