@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  color: #7c7c7c;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  color: #7c7c7c;
  transition: 0.3s;
}
a:hover {
  opacity: 0.8;
}

img {
  width: 100%;
}

h1 {
  width: 140px;
  height: auto;
}
h1 img {
  height: 80px;
  width: auto;
}

li {
  list-style: none;
}

.inner {
  max-width: 1200px;
  padding: 0 120px;
}

.flex {
  display: flex;
}

.title {
  text-align: center;
  margin-bottom: 32px;
}

.section-title {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 4px;
}

.subtitle {
  font-weight: 300;
  position: relative;
  display: inline;
  padding-top: 1px;
  font-size: 14px;
}
.subtitle::before, .subtitle::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #a8a8a8;
  position: absolute;
  top: 50%;
}
.subtitle::before {
  left: -64px;
}
.subtitle::after {
  right: -64px;
}

section {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 80px;
}

.btn {
  position: absolute;
  bottom: -20px;
  right: 0;
  text-align: center;
  width: 100px;
  height: 30px;
  border: solid 1px #7c7c7c;
  transition: 0.3s;
}
.btn:hover {
  background-color: #7c7c7c;
}
.btn:hover a {
  color: #fff;
}
.btn:hover a::before, .btn:hover a::after {
  background-color: #fff;
}
.btn::after {
  content: "";
  border: solid 1px #7c7c7c;
  border-top-color: transparent;
  border-left-color: transparent;
  height: 96%;
  width: 96%;
  display: block;
  position: absolute;
  bottom: -4px;
  right: -4px;
}
.btn a {
  font-size: 16px;
  line-height: 28px;
  position: relative;
  color: #7c7c7c;
  transition: 0.3s;
}
.btn a::before {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #7c7c7c;
  position: absolute;
  top: 50%;
  right: -20px;
  transition: 0.3s;
}
.btn a::after {
  content: "";
  display: block;
  width: 5px;
  height: 2px;
  background-color: #7c7c7c;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-100%) rotate(45deg);
  transition: 0.3s;
}

header {
  height: 80px;
  position: relative;
}
header .flex {
  justify-content: space-between;
  align-items: center;
}
header li {
  margin-right: 53px;
}
header li:last-child {
  margin-right: 0;
}
header .search img {
  width: 28px;
}
header .search:hover .search-form {
  display: block;
}
header .cart img {
  width: 33px;
  height: auto;
}

.hamburger span {
  width: 40px;
  height: 2px;
  display: block;
  background-color: #7c7c7c;
  margin-bottom: 10px;
}
.hamburger span:last-child {
  margin-bottom: 0;
}

.search-form {
  width: 500px;
  background-color: #fff;
  border: solid 1px #7c7c7c;
  display: none;
  position: absolute;
  bottom: -200px;
  right: 120px;
  margin: 0 auto;
}
.search-form .search-menu {
  text-align: center;
  padding: 80px 0 20px 0;
}
.search-form .search-menu li {
  margin-bottom: 10px;
}

#form2 {
  position: relative;
  max-width: 300px;
  margin: 20px auto;
}

#sbox2 {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
  outline: 0;
  background: #eee;
  border: none;
}

#sbtn2 {
  height: 40px;
  position: absolute;
  right: 0;
  /*アイコン左右の位置調整*/
  top: 0;
  background: none;
  color: #a7a7a7;
  border: none;
  font-size: 20px;
  /*アイコンサイズ*/
}

#sbtn5:hover {
  color: #7fbfff;
}

.search-open .search-form {
  display: block;
}

.slick-prev {
  left: 10px;
  z-index: 10;
}

.slick-next {
  right: 10px;
}

.single-item {
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.category {
  margin-top: 80px;
}
.category .flex {
  flex-flow: nowrap;
  gap: 24px;
}

.campaign .flex {
  justify-content: space-between;
}
.campaign .flex li {
  width: 49%;
}

.instagram {
  padding: 36px 0 56px 0;
  background-color: #f6f6f6;
}
.instagram .flex {
  justify-content: space-between;
  flex-flow: nowrap;
}

.coordinate .flex {
  justify-content: space-between;
}
.coordinate .flex li {
  width: 32%;
}

footer {
  background: #cfcfcf;
  padding: 74px 110px 10px 110px;
}
footer .flex {
  justify-content: space-between;
  font-size: 0.85em;
}
footer .flex ul {
  width: 20%;
  line-height: 1.8;
}
footer .flex ul:last-child {
  width: 34%;
}
footer .flex ul li:first-child {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
}
footer .box {
  width: 70%;
  height: 20px;
  border: none;
}
footer .Form-Btn {
  width: 20%;
  transition: 0.3s;
  font-size: 0.85em;
  background-color: #fff;
  border: none;
  height: 20px;
}
footer .Form-Btn:hover {
  background-color: #a8a8a8;
}
footer .copyright {
  text-align: center;
  margin-top: 70px;
  font-size: 0.8em;
}/*# sourceMappingURL=style.css.map */
